<div class="flex items-center gap-2">
  <%= f.check_box :remember_me , class: 'bg-gray-200 border-none outline-none resize-none border-transparent focus:border-transparent focus:ring-0 text-base'%>
  <%= f.label :remember_me, class: 'text-sm' %>
</div>
