<div class="flex flex-col">
  <%= f.label :password_confirmation, class: 'text-sm' %>
  <%= f.password_field :password_confirmation, autocomplete: "current-password", class: 'bg-gray-200 rounded-lg border-none outline-none resize-none border-transparent focus:border-transparent focus:ring-0 text-base py-2 px-4' %>
</div>
